.editor-container {
    justify-content: space-evenly;
    width: 100vw;
    background-color: #d3d8f2;
}

.canvas-container {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 500px;
}

.editor-panel {
    height: 100%;
    margin: 10px;
    flex-direction: column;
}
.editor-panel>* {
    margin: 10px;
}
.editor-panel> button {
    font-size: 1.5em;
    margin-right: 0.5rem;
    background-color: rgb(196, 196, 247);
}
.editor-panel {
    align-items: center;
}
.back-to-gallery,
.addLine-btn {
    max-width: 200px;
    align-items: center;
    justify-content: space-evenly;
    height: 7vh;
    margin: 2px;
    color: white;
    font-size: 1.2em;
    background-color: rgb(89, 89, 150);
    border-radius: 15px;
    max-height: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.back-to-gallery:hover,
.addLine-btn:hover {
    border: 3px solid rgb(89, 89, 150);
}

.edit-line {
    flex-direction: column;
    margin: 10px;
    border: 1px solid rgb(89, 89, 150);
    padding: 7px;
}
.line {
    width: 100%;
    height: 4vh;
    font-size: 3vh;
}
.line:focus {
    border: 3px solid rgb(89, 89, 150);
}
.edit-btns-1, 
.edit-btns-2 {
    align-items: center;
    justify-content: space-evenly;
    height: 6vh;
    margin: 2px;
    cursor: pointer;
}
.edit-btns-1 button:hover,
.edit-btns-2 button:hover {
    background-color: rgb(196, 196, 247);

}
.font-family {
    display: flex;
    align-items: center;
}

.edit-btns-2>* {
    margin: 3px;
    height: 10px;
}
.font-size-btns button {
    margin: 5px;
    align-items: center;
}
.font-size-btns .fa-text-height{
    padding-top: 6px;
}
.color-picker {
    height: 30px;
    border-radius: 15px;
}
.download {
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    color: rgb(89, 89, 150);
    font-size: 1.5em;
}

@media (max-width: 960px) {
    .editor-container {
        flex-direction: column;
    } 
    .canvas-container{
        width: 90%;
        align-items: center;
    }
    .editor-panel{
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .line {
        height: 5vh;
        font-size: 4vh;
    }
}