* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*HEADER*/
button, input {
    outline: none;
}
header {
    height: 10vh;
    background-color: rgb(89, 89, 150);
    align-items: center;
    justify-content: center;
}
.header-container {
    width: 100%;
    height: 10vh;
    max-width: 980px;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.title {
    height: inherit;
    align-items: center;
    padding-left: 10px;
}
header h1 {
    font-size: 3em;
}
.nav {
    height: inherit;
}
.nav-item {
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-right: 0.5rem;
}

.nav-item a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
.nav-item:hover {
    /* padding-bottom: 5px; */
    border-bottom: 5px solid white;
}

@media (max-width: 980px) {
    .header-container {
        max-width: 800px;
    }
    header h1 {
        font-size: 2em; 
    } 
    .nav-item{
        font-size: 1.5em;
    }
}
@media (max-width: 740px) {
    header h1 {
        font-size: 1.5em; 
    } 
    .nav-item{
        font-size: 1em;
    }
}

/* SEARCH PANEL */
.search-panel {
    justify-content: space-between;
    flex-direction: column;
}
.intro {
    font-size: 1.5em;
    justify-content: space-between;
    padding-left: 10px;
}
.intro-text {
    width: 60%;
    color: rgb(89, 89, 150);
}

.search-btns {
    align-items: center;
    justify-content: flex-end;
}
.search-btn {
    align-items: center;
    justify-content: flex-end;
    color: rgb(89, 89, 150);
    background-color: #d3d8f2;
    border-radius: 15px;
    height: 100%;
    max-width: 100px;
    max-height: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.search-btn:hover {
    border: 4px solid rgb(89, 89, 150);

}

.search-panel form {
    height: 40px;
    /* border: 2px solid blue; */
}
form {
    justify-content: flex-end;
}
form #search-input {
    border-radius: 10px;
    border: 4px solid rgb(89, 89, 150);
}
form h2 {
    font-size: 20px;
    margin: 0;
}
form input {
    height: 100%;
}
form input::-webkit-calendar-picker-indicator {
	display: none;
}
@media (max-width: 980px) {
    .intro {
        font-size: 1em; 
    } }
@media (max-width: 740px) {
    .intro {
        font-size: 0.8em; 
    }
    .intro-text{
        width: 100%;
    }
 }
/* KEYWORDS */
.keywords {
    height: 100px;
    background-color: rgb(196, 196, 247);
    justify-content: space-around;
    align-items: center;
    color: rgb(89, 89, 150);
}
.keyword {
    margin: 5px;


}

main {
    max-width: 980px;
    margin: 0 auto; 
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
@media (max-width: 980px) {
    main {
        max-width: 800px; } 
    .keywords {
        /* flex-direction: column; */
        height: unset;
    }
}
@media (max-width: 740px) {
    main {
        max-width: 100%; } 
    .keywords {
        /* flex-direction: column; */
        height: unset;
        columns: 3;
    }

}

.gallery {
    width: 100%;
    justify-content: space-evenly;
    background-color: #d3d8f2;

}
.gallery-item {
    margin: 10px;
    cursor: pointer;
}


.gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.gallery-item img:hover{
    border: 4px solid rgb(89, 89, 150);
}
/* FOOTER */
/* footer {
    background-color: rgb(89, 89, 150);
    justify-content: center;
} */
.about {
    align-items: center;
    color: rgb(89, 89, 150);
    flex-direction: column;
    width: 100%;
}
.about-text-container {
    width: 100%;
    background-color: rgb(89, 89, 150);
    color: white;
    justify-content: center;
    align-items: center;
}
.about-text {
    width: 980px;
    max-width: 980px;
    color: white;
    justify-content: center;
    align-items: center;
}

.about-text h1 {
    width: 200px;
    margin-right: 20px;
    font-size: 2em;
}
.about-text p {
    font-size: 1.2em;
}
.about .dev1,.dev2 {
    align-items: center;
}
.team-member {
    width: 980px;
    max-width: 980px;
    margin: 15px;
}
.team-member>* {
    margin: 15px;
}
.about img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;

}
@media (max-width: 980px) {
    .team-member {
        max-width: 800px; 
        width:100%;
    } 
}
@media (max-width: 740px) {
    .team-member {
        width: 100%; } 

}

/*HELPERS*/

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.center {
    justify-content: center;
}
.hidden {
    display: none;
}

