.gallery {
    width: 100%;
}
.gallery-item {
    margin: 10px;
}
.gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}



/*HELPERS*/

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}