* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    height: 10vh;
    background-color: rgb(89, 89, 150);
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    color: white;
    
}
nav {
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    border: 1px solid white;
}
.search-panel {
    flex-direction: column;
}
.search-panel form {
    height: 40px;
    border: 2px solid blue;
}
form h2 {
    font-size: 20px;
    margin: 0;
}
form input {
    height: 100%;
}
.keywords {
    height: 100px;
    background-color: rgb(196, 196, 247);
    justify-content: space-around;
    align-items: center;
}
.keywords >* {
    margin: 5px;
}
.gallery {
    width: 100%;
    justify-content: center;
}
.gallery-item {
    margin: 10px;
}
.gallery-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}



/*HELPERS*/

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.center {
    justify-content: center;
}
.hidden {
    display: none;
}