body {
    margin: 0;
    padding: 0;
}

canvas {
    border: 1px solid black;
    margin: 10px;
    /* width: 100%; */
    /* height: 60%; */
}

.editor-panel {
    width: 200px;
    height: 100%;
    /* background-color: darksalmon; */
    margin: 10px;
    flex-direction: column;
}


.download {
    text-decoration: none;
    border: 1px solid rgba(238, 238, 238, 0.185);
    padding: 5px;
    display: inline-block;
    color: black;
}